:root {
  --color: green;
  --color-blue: #1678c2;
  --color-teal: #009c95;
  --color-red: #d01919;
  --color-yellow: #eaae00;
  --color-grey: #e9e9e9;
  --color-gray: var(--color-grey);
  --color-primary: var(--color-blue);
  --color-danger: var(--color-red);
  --color-success: var(--color-teal);
  --color-warning: var(--color-yellow);

  --size-el: 32px;
  --size-el-h: var(--size-el);
  --size-el-half: calc(var(--size-el) / 2);
  --size-el-quarter: calc(var(--size-el) / 4);
}
